BlogScript/.vs
BlogScript/bin/
BlogScript/obj/
BlogScript/BlogScript.Entities/bin
BlogScript/BlogScript.Entities/obj
BlogScript/BlogScript.DataAccess/bin
BlogScript/BlogScript.DataAccess/obj
BlogScript/BlogScript.Business/bin
BlogScript/BlogScript.Business/obj
BlogScript/BlogScript.WebApi/bin
BlogScript/BlogScript.WebApi/obj
BlogScript/BlogScript.DTOs/bin
BlogScript/BlogScript.DTOs/obj
BlogScript/BlogScript.FrontEnd/bin
BlogScript/BlogScript.FrontEnd/obj