@model List<BlogListModel>

<!-- blog posts colum -->
    <div class="col-lg-8">

        @foreach (var blog in Model)
        {
            <div class="card single_post">
                <div class="body">
                    <div class="post-img">
                        <img class="d-block img-fluid" src="~/img//@blog.ImagePath" alt="First slide">
                    </div>
                    <h3 class="post-title">
                        <a href="single.html">
                            @blog.Title
                        </a>
                    </h3>
                    <p class="post-content">
                        @blog.ShortDescription
                    </p>
                    <div class="actions">
                        <a href="javascript:void(0);"
                           class="btn btn-primary button-style float-right mr-5">Devamını Oku</a>
                    </div>
                </div>
                <div class="post-footer">
                    <ul>
                        <li><a href="#"><i class="fa fa-user"></i>TechBlog</a></li>
                        <li><a href="#"><i class="fa fa-comments"></i> 3 Yorum</a></li>
                    </ul>
                </div>
            </div>
        }

    </div>

<!-- sidebar column -->
<div class="col-lg-4">

    <!-- categories widget -->
    <div class="card card-side">
        <div class="card-title">
            Kategoriler
        </div>
        <hr>
        <div class="card-content">
            <ul class="list cat-list">
                <li>
                    <a href="#" class="d-flex">
                        <i class="fa fa-caret-right mr-3 mt-1 text-black"></i>
                        <p>Resaurant food</p>
                        <p class="ml-2">(37)</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <i class="fa fa-caret-right mr-3 mt-1 text-black"></i>
                        <p>Travel news</p>
                        <p class="ml-2">(10)</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <i class="fa fa-caret-right mr-3 mt-1 text-black"></i>
                        <p>Modern technology</p>
                        <p class="ml-2">(3)</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <i class="fa fa-caret-right mr-3 mt-1 text-black"></i>
                        <p>Product</p>
                        <p class="ml-2">(11)</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <i class="fa fa-caret-right mr-3 mt-1 text-black"></i>
                        <p>Inspiration</p>
                        <p class="ml-2">(21)</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <i class="fa fa-caret-right mr-3 mt-1 text-black"></i>
                        <p>Health Care</p>
                        <p class="ml-2">(9)</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- recent posts -->
    <div class="card card-side">
        <div class="card-title">
            Son Yazılar
        </div>
        <hr>
        <!-- first post -->
        <div class="card-content">
            <div class="float-left">
                <img src="~/img/posts/last-1.jpg" width="90" height="90" alt="">
            </div>
            <div class="d-flex justify-content-left align-items-center last-posts-container">
                <div>
                    <a href="">Google inks pact for new...</a>
                    <p class="mt-2 text-info"><i class="fa fa-calendar mr-2"></i>4 Saat Önce</p>
                </div>
            </div>
        </div>
        <!-- second post -->
        <div class="card-content">
            <div class="float-left">
                <img src="~/img/posts/last-2.jpg" width="90" height="90" alt="">
            </div>
            <div class="d-flex justify-content-left align-items-center last-posts-container">
                <div>
                    <a href="">Google inks pact for new...</a>
                    <p class="mt-2 text-info"><i class="fa fa-calendar mr-2"></i>24 Temmuz 2021</p>
                </div>
            </div>
        </div>
        <!-- third post -->
        <div class="card-content">
            <div class="float-left">
                <img src="~/img/posts/last-3.jpg" width="90" height="90" alt="">
            </div>
            <div class="d-flex justify-content-left align-items-center last-posts-container">
                <div>
                    <a href="">Google inks pact for new...</a>
                    <p class="mt-2 text-info"><i class="fa fa-calendar mr-2"></i>12 Ağustos 2021</p>
                </div>
            </div>
        </div>
    </div>

    <!-- tag cloud -->
    <div class="card card-side">
        <div class="card-title">
            Tag Bulutu
        </div>
        <hr>
        <div class="card-cloud-content">
            <ul class="list cat-list">
                <li>
                    <a href="#" class="d-flex">
                        <p>C#</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>WPF</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>ASP.NET</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>PostgreSQL</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>Programlama</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>Css</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>Html</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>.Net Core</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>Xamarin</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>Kotlin</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>Ubuntu</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>Linux</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>Centos</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>Mint</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>Mobile Development</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>Unity</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>Php</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>MySQL</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>XAML</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>Desktop Development</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>UI/UX</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>Design Patterns</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>Javascript</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>Bootrstrap</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>Jquery</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>React</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>Git</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>Gitlab Runner</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>GitAhead</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>GitHub</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>CI/CD</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>Yazılım Test</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Subscribe widget -->
    <div class="card card-side">
        <div class="card-title">
            Abone Ol
        </div>
        <hr>
        <div class="card-cloud-content">
            <input type="email" class="form-control subscribe-input" placeholder="E-Mail Adresiniz">
            <button class="btn btn-primary my-3 subscribe-button">Abone Ol</button>
        </div>
    </div>
</div>